# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Virtual environment
.venv

# Models
*.ckpt
*.pth
*.pt

# Pycache
*.pyc

# Log folder
*log*

# COCO dataset
COCO_2017/
COCO2017/

# Surround dataset
*/DATA*

# ZIP fodlers
*.zip

# USE CASES
*USE_CASE*

# Vscode cache
*.vscode

# Irrevelant assets
localization
bird_view
Extrait_baptiste
Image_mire_1
Image_mire_2
prototyping/assets

# Mac folders
.DS_Store
*/.DS_Store
*DS_Store

vision_ws/build/py_pubsub/build/lib/py_pubsub/camera_yolo.py
prototyping/src/yolo_cpp/main.cpp
prototyping/src/yolo_cpp/demo.mp4
prototyping/src/yolo_cpp/data/yolov5s.onnx
prototyping/src/yolo_cpp/data/classes.txt
prototyping/src/yolo_cpp/CMakeLists.txt
prototyping/src/yolo_cpp/cmake-build-debug/main.pdb
prototyping/src/yolo_cpp/cmake-build-debug/main.ilk
prototyping/src/yolo_cpp/cmake-build-debug/CMakeFiles/TargetDirectories.txt
prototyping/src/yolo_cpp/cmake-build-debug/CMakeFiles/ShowIncludes/main.c
prototyping/src/yolo_cpp/cmake-build-debug/CMakeFiles/ShowIncludes/foo.h
prototyping/src/yolo_cpp/cmake-build-debug/CMakeFiles/rules.ninja
prototyping/src/yolo_cpp/cmake-build-debug/CMakeFiles/main.dir/vc140.pdb
prototyping/src/yolo_cpp/cmake-build-debug/CMakeFiles/main.dir/manifest.res
prototyping/src/yolo_cpp/cmake-build-debug/CMakeFiles/main.dir/manifest.rc
prototyping/src/yolo_cpp/cmake-build-debug/CMakeFiles/main.dir/intermediate.manifest
prototyping/src/yolo_cpp/cmake-build-debug/CMakeFiles/main.dir/embed.manifest
prototyping/src/yolo_cpp/cmake-build-debug/CMakeFiles/cmake.check_cache
prototyping/src/yolo_cpp/cmake-build-debug/CMakeFiles/clion-environment.txt
prototyping/src/yolo_cpp/cmake-build-debug/CMakeFiles/3.27.8/CompilerIdCXX/CMakeCXXCompilerId.cpp
prototyping/src/yolo_cpp/cmake-build-debug/CMakeFiles/3.27.8/CompilerIdC/CMakeCCompilerId.c
prototyping/src/yolo_cpp/cmake-build-debug/CMakeFiles/3.27.8/CMakeSystem.cmake
prototyping/src/yolo_cpp/cmake-build-debug/CMakeFiles/3.27.8/CMakeRCCompiler.cmake
prototyping/src/yolo_cpp/cmake-build-debug/CMakeFiles/3.27.8/CMakeDetermineCompilerABI_CXX.bin
prototyping/src/yolo_cpp/cmake-build-debug/CMakeFiles/3.27.8/CMakeDetermineCompilerABI_C.bin
prototyping/src/yolo_cpp/cmake-build-debug/CMakeFiles/3.27.8/CMakeCXXCompiler.cmake
prototyping/src/yolo_cpp/cmake-build-debug/CMakeFiles/3.27.8/CMakeCCompiler.cmake
prototyping/src/yolo_cpp/cmake-build-debug/CMakeCache.txt
prototyping/src/yolo_cpp/cmake-build-debug/cmake_install.cmake
prototyping/src/yolo_cpp/cmake-build-debug/build.ninja
prototyping/src/yolo_cpp/cmake-build-debug/.ninja_deps
prototyping/src/yolo_cpp/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-256930ef455afaf706be.json
prototyping/src/yolo_cpp/cmake-build-debug/.cmake/api/v1/reply/target-yolo-Debug-678c9595ba908112b3dc.json
prototyping/src/yolo_cpp/cmake-build-debug/.cmake/api/v1/reply/index-2024-01-24T17-41-40-0109.json
prototyping/src/yolo_cpp/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
prototyping/src/yolo_cpp/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-14e8200a3e1bf6880a7f.json
prototyping/src/yolo_cpp/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-d4cb118fc980c26218d1.json
prototyping/src/yolo_cpp/cmake-build-debug/.cmake/api/v1/reply/cache-v2-ae92fd411756cc620c05.json
prototyping/src/yolo_cpp/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
prototyping/src/yolo_cpp/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
prototyping/src/yolo_cpp/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
prototyping/src/yolo_cpp/cmake-build-debug/.cmake/api/v1/query/cache-v2
prototyping/src/Hough_stitchong/zoom.py
prototyping/src/Hough_stitchong/UndistortZoom.py
prototyping/src/Hough_stitchong/UndistortParams.txt
prototyping/src/Hough_stitchong/undistort_and_stich/concat1.png
prototyping/src/Hough_stitchong/undistort_and_stich/concat0.png
prototyping/src/Hough_stitchong/undistort_and_stich/calibre_zoom.png
prototyping/src/Hough_stitchong/undistort/undistort_zoomed_4.png
prototyping/src/Hough_stitchong/undistort/undistort_zoomed_3.png
prototyping/src/Hough_stitchong/undistort/undistort_zoomed_2.png
prototyping/src/Hough_stitchong/undistort/undistort_zoomed_1.png
prototyping/src/Hough_stitchong/undistort.py
prototyping/src/Hough_stitchong/test.py
prototyping/src/Hough_stitchong/selected_img_mires/image_1124.png
prototyping/src/Hough_stitchong/hough_stitching.py
