<launch>
  <arg name="robot_speed" default="0.3"/>

  <include file="$(find cario_robot_model)/launch/upload.launch">
    <arg name="laser_model"   default="sick-561"/> <!-- sick-571 by default -->
    <arg name="rgbd_sensors"  default="false"/>
  </include>

  <node
    name="dyn_reconfigure_local_planner"
    pkg="dynamic_reconfigure"
    type="dynparam"
    args="set /move_base base_local_planner teb_local_planner/TebLocalPlannerROS"
    />

  <node
    name="dyn_reconfigure_max_speed_x"
    pkg="dynamic_reconfigure"
    type="dynparam"
    args="set /move_base/TebLocalPlannerROS max_vel_x $(arg robot_speed)"
    />

  <node
    name="dyn_reconfigure_obstacle"
    pkg="dynamic_reconfigure"
    type="dynparam"
    args="set /move_base/global_costmap/obstacle_laser_layer enabled false"
    />

  <node
    name="dyn_reconfigure_max_speed_x_backward"
    pkg="dynamic_reconfigure"
    type="dynparam"
    args="set /move_base/TebLocalPlannerROS max_vel_x_backwards 0.3"
    />

  <node
    name="dyn_reconfigure_max_vel_theta"
    pkg="dynamic_reconfigure"
    type="dynparam"
    args="set /move_base/TebLocalPlannerROS max_vel_theta 1.5"
    />

  <include file="$(find multi_obstacles_tracker)/launch/local_costmap_inflater.launch"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find cario_rviz)/rviz/navigation.rviz"/>
</launch>
