<launch>
  // Load robot model
  <param name="robot_description" command="xacro '$(find tiago_rviz)/robots/pmb2.urdf.xacro' laser_model:=sick-571 rgbd_sensors:=false" />

  // Load rviz config  
  <arg name="rvizconfig" default="$(find tiago_rviz)/config/launch.rviz" />
  
  // Launch rviz and robot_state_publisher
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />
</launch>
