<launch>
  <arg name="laser_model"   default="sick-571"/>
  <arg name="rgbd_sensors"  default="false"/>

  <include file="$(find tiago_rviz)/robots/upload.launch" pass_all_args="true">
  </include>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tiago_rviz)/config/pge-nav.rviz"/>
</launch>